<%- include("partials/header.ejs") %>
<div class="container"><h1 id="aboutme">About Me</h1>
<img class="profile-img" src="images/sinan.jpg" width="200" alt="me">
<p>Hi i am Sinan Çayıroğlu and this is my HTML resume project.
    I am 29 years old and i always had a passion for computers and learning since i was a child.
    I was curious of how computers work and i was mind boggled about why programs crash and how computers get hacked so i wanted to learn programming to understand whys and hows.
    IT department is growing and evolving each and every year and i love improving myself.
</p>
</div>




<%- include("partials/footer.ejs") %>