<div class="container">
    <h1 class="success">You have successfully logged in!</h1>
    </div>
    <script>
        setTimeout(function () {
            window.location.href = '/';  
        }, 2000);  
    </script>
    