<%- include("partials/header.ejs") %>

<h1 class="success">You have successfully created new post!</h1>

<script>
    setTimeout(function () {
        window.location.href = '/';  
    }, 2000);  
</script>
<%- include("partials/footer.ejs") %>