<div class="container">
    <h1 class="success">You are not autharized to create new posts please login.</h1>
    </div>
    <script>
        setTimeout(function () {
            window.location.href = '/login';  
        }, 2000);  
    </script>
    