
<footer>
    <ul class="social_icon">
        <li><a href="https://www.linkedin.com/in/sinan-çayıroğlu-227767224/"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://www.instagram.com/sinan_cayiroglu/"><ion-icon name="logo-instagram"></ion-icon></a></li>
      </ul>
      <p class="copyright"> Made by @Sinan <%= new Date().getFullYear() %></p>

</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>