<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="navbar">
              <div class="navbar-inside">
                <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/create">Create Posts</a></li>
                <li> <a href="/project">My Projects</a></li>
            </ul>
          </div>
            <div class="searchbar">
            <form class="search-bar" action="/search" role="search">
              <input type="search" name="searchTerm" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
              <button type="button" class="btn btn-outline-light me-2"><a href="/login">Login</a></button>
              <button type="button" class="btn btn-warning"><a href="/signup">Sign-up</a></button>
</div>
</div>    
    <link rel="stylesheet" href="/styles/styles.css">
</head>
    <body>