<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <header>
        <div class="container">
            <div class="navbar">
            <a href="/">
            </a>
            <nav>
            <ul class="header-list">
              <li><a href="/">Home</a></li>
              <li><a href="/about" >About Me</a></li>
              <li><a href="/contact" >Contact</a></li>
              <li><a href="/create" >Create Posts</a></li>
              <li><a href="#" >About</a></li>
            </ul></nav></div>
            <div class="searchbar">
            <form class="search-bar" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
                
              <button type="button" class="btn btn-outline-light me-2"><a href="/login">Login</a></button>
              <button type="button" class="btn btn-warning">Sign-up</button>
</div></div>
      </header>
    
    <link rel="stylesheet" href="/styles/styles.css">
</head>

    